th,
td {
  display: inline-block;
  width: 16.66%;
  text-align: center;
  height: auto;
}
.jumbotron {
    background-color: firebrick;
    color: beige;
}
#train-table {
    max-width: 960px;
    text-align: center;
    margin: auto;
}
tr {
    text-align: center;
}
tr:hover {
    background-color: initial!important;
}
button:hover {
    cursor: pointer;
}